# Virtual Environments
buddy/
env/
venv/
.venv/

# Environment Variables
.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
logs/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# Uploaded Secrets / Credentials
meditrack-491711-b3554dd92837.json
credentials/